.counterValue {
    position: absolute;
    top: 95px;
    left: 435px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 14px 28px goldenrod, 0 10px 10px rgba(0, 0, 0, 0.22);
    line-height: 70px;
    text-align: center;
    font-size: 4.0em;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.counterValue.error {
    color: red;
    text-shadow:
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.message {
    text-align: center;
    color: darkgoldenrod;
    font-weight: bold;
    text-shadow:
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2)
}

.message.error {
    color: red;
    font-size: 1.2em;
    -moz-animation: blink1 2s linear infinite;
    animation: blink1 2s linear infinite;
}
@-webkit-keyframes blink1 {
    0% { opacity: 100; }
    50% { opacity: 50%; }
    100% { opacity: 0; }
}
@keyframes blink1 {
    0% { opacity: 100; }
    50% { opacity: 50%; }
    100% { opacity: 0; }
}
