.App {
  text-align: center;
  background-color: grey;
  padding: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  padding: 15px;
  background-color: aqua;
  margin-right: 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
}


.btn__container {
  margin-top: 20px;
  border: 3px solid aqua;
  padding: 5px;
  border-radius: 4px;
}

.positive {

}

.negative {
  color: red;
}

.btn:active, button:focus {
  outline: none;
}

.container {
  border: 3px solid aqua;
  padding: 5px;
  border-radius: 4px;
  width: 330px;
}